html {
    font-size: 16px;
}

body {
    box-sizing: border-box;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
    color: #212121;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    width: 1920px;
}

.mobile__block, .mobile__countainer, .mobile, .block__img-mobile {
    display: none;
}

/* menu */

ul > li {
list-style: none;
}

.menu {
    width: 100%;
    text-transform: uppercase;
    margin: 1.3rem auto;
    background-color: white;
}

.menu__list, .block8__menu__list {
    /* list-style: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    }

.menu__item > a, .block8__menu__item > a {
    text-decoration: none;
    color: #212121;
    }

.menu__item {
    margin-right: 6rem;
}

.menu__item >a:hover, .block8__menu__item>a:hover {
    color: #01A3A4;
    text-decoration: underline;
}

.menu__dropdown {
    width: 11.25rem;
    position: absolute;
    text-align: center;
    background-color: #fff;
    padding-left: 0;
    padding-top: 3.125rem;
}

.menu__dropdown-item {
    height: 4.375rem;
}

.menu li ul {
    display: none;
}

.menu li:hover > ul {
    display: block;
}

.menu__dropdown > li:hover {
    background-color: #F0F8F6;
    cursor: pointer;
}

.menu__dropdown-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #212121;
}



.main {
    background: linear-gradient(129.34deg, #FECA57 56.78%, #E3AA2D 101.94%);;
    height: 1080px;
}

.main__heading {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4.375rem;
}

.main__heading2, .main__heading3 {
    font-family: 'Galada', cursive;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 4.5rem;
}

.main__heading2 {
    margin-left: 64rem;
}

.main__heading3 {
    margin-left: 73.875rem;
}


.main__box {
    position: relative;
 }

.main__box-item {
    position: absolute;
    background-image: url(img/background/Ellipse\ 24.png);
    margin-right: 0.6rem;
    background-repeat: no-repeat;
    background-position: center;
 }

.main__box-item1 {
    height: 15.938rem;
    left: -0.875rem;
    top: 1.688rem;
 }

 .main__box-item2 {
    left: 8.568rem;
    top: -4rem;
 }

 .main__box-item3 {
    left: 29.833rem;
    top: -13.169rem;
    transform: matrix(1, 0.07, -0.07, 1, 0, 0);
 }

.main__box-item4 {
    left: 73.25rem;
    top: -0.75rem;
}
 
.main__box-item5 {
    left: 98.375rem;
    top: 2.875rem;
}

.main__box-rings {
    position: absolute;
}

.box-rings1 {
    left: 3.688rem;
    top: 49.188rem;
}

.box-rings2 {
    left: 16.313rem;
    top: 29rem;
}

.box-rings3 {
    left: 8.976rem;
    top: 43.036rem;
}

.box-rings4 {
    left: 102.063rem;
    top: 50.313rem;
}

.box-rings5 {
    left: 100.188rem;
    top: 34.938rem;
}

.box-rings6 {
    left: 116.813rem;   
    top: 37rem;
}

.box-rings7 {
    left: 4.938rem;
    top: 35.438rem;
}

.box-vector7 {
    left: 31.938rem;
    top: 30.154rem;
}

.box-vector8 {
    left: 81.15rem;
    top: 55.979rem;
}

.box-vector9 {
    left: 81.25rem;
    top: 54.018rem;
}

.main__btn-container {
    display: flex;
    justify-content: center;
    margin-top: 28.125rem;
    margin-bottom: 4.375rem;
}

.main__btn {
    width: 17.5rem;
    height: 4.375rem;
    background: #01A3A4;
    border-radius: 3.125rem;
    color: #FFFFFF;
    font-size: 1.8125rem;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;;
    cursor: pointer;
    z-index: 10;
}

.box-scroll {
    top: 62.5rem;
    margin-bottom: 4.375rem;
    margin-left: 21.875rem;
}

.box-scroll-text {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.box-line {
    top: 65.813rem;
    margin-left: 24rem;
}

.main__box-mobile {
    display: none;
}

/* Block */
.block {
    margin-bottom: 6rem;
    position: relative;
}

.wrap-block__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 1.188rem;
    text-align: center;
    margin-bottom: 3.125rem;
}

.block__header {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 6rem;
}

.block__header-text {
    font-size: 3rem;
}

.block__img {
    margin-bottom: 2.5rem;
}

.block__header2 {
    text-align: center;
    margin-bottom: 1.3rem;
}

.block__header2-text {
    font-size: 1.5rem;
}

.block__text {
    width: 17.625rem;
    height: 4.5rem;
    text-align: center;
}

.block__text-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #696969;
}

.btn {
    width: 100%;
    display: flex;
}

.main__btn {
    margin: 0 auto;
}

.block__ring {
    position: absolute;
}

.block-r1 {
    left: 11.063rem;
    top: 10.125rem;  
}

.block-r2 {
    left: 104.625rem;
    top: 12.5rem;
}

/* block2 */
.block2 {
    background-color: #F0F8F6;
}



.block2__container, .block2__block1 {
    display: flex;
    justify-content: center;
    }

.block2__block1 {
    margin-top: 6rem;
    margin-left: 21.875rem;
    margin-right: 3.063rem;
    margin-bottom: 6rem;
}

.block2__block2 {
    margin-top: 12.063rem;
}

.block2__block1-img {
    margin-right: 1.875rem;
}

.block2__header{
    margin-bottom: 1.875rem;
    margin-right: 34rem;
    text-align: center;
}

.block2__header-text {
    font-size: 3rem;
}

.block2__text {
    margin-right: 21.938rem;
}

.block2__text-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #696969;
}

.block2__btn {
    margin-top: 1.875rem;  
}

.block2__btn3 {
    margin-left: 0px;
    z-index: 2;
}

.block2__image {
    position: relative;
}

.block2__image-iteam {
    position: absolute;
}

.block2__block1-img1 {
    z-index: 2;
}

.image-iteam1 {
    left: -120.313rem;
    top: 14.75rem;
}

.image-iteam2 {
    left: -112.777rem;
    top: 8.125rem;
    z-index: 3;
}

.image-iteam3 {
    left: -115.493rem;
    top: 19.938rem;
}

.image-iteam4 {
left: -45.556rem;
top: 25.75rem;
}

.image-iteam5 {
    left: -6.226rem;
    top: 4.563rem;
}

.image-iteam6 {
    left: -62.743rem;
    top: 37.438rem;
}

.image-iteam7 {
    left: -55.868rem;
    top: 13.25rem;
}

.image-iteam8 {
    left: -106.431rem;
    top: 20.875rem;
}

.image-iteam9 {
    left: -109.243rem;
    top: 30.438rem;
}

/* block3 */
.block3 {
    background-color: #fff;
    margin-bottom: 2.75rem;
    position: relative;
}

.block3__wraper {
    padding-top: 6rem;
    margin-left: 21.875rem;
}

.block3__header1 {
    padding-left: 3.063rem;
}

.block3__header2 {
    width: 66rem;
}

.block3__header3 {
    padding-left: 36.375rem;
}

.block3header1-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #01A3A4;
}

.block3header2-text {
    font-size: 6rem;
}

.block3header3-text {
    font-family: 'Galada', cursive;
    font-size: 4.5rem;
    background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.block3__img {
    position: absolute;
}

.block3__img-item1 
{
    top: 11.625rem;
    left: 11.063rem;
}

.block3__img-item2 {
    top: 5.688rem;
    left: 101rem;
}

.block3__img-item3 {
    top: 6.188rem;
    left: 21.438rem;
}


/* Block4 */
.block4 {
    text-align: center;
    position: relative;
    background: #F0F8F6;
    padding-top: 6.25rem;
    padding-bottom: 5.625rem;
}

.block4__header1 {
    margin-bottom: 1.3rem;
}

.block4__header1-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #01A3A4;
    text-transform: uppercase;
}

.block4__header2 {
    margin-bottom: 2.75rem;
}

.block4__header2-text {
    font-size: 3rem;
}

.block4__2 {
    display: flex;
    justify-content: center;
}

.block4__grid-wrapper {
    display: grid;
    grid-template-columns: 245px 245px 485px 245px;
    grid-gap: 0.6rem;
}

.block4__grid-item3 {
    grid-row-start: span 2;
    grid-column: 3/-2;
}

.block4__grid-item4 {
    z-index: 2;
}

.block4__rings {
    position: absolute;
}

.b4-r1 {
    left: 19.313rem;
    top: 7.438rem;
}

.b4-r2 {
    left: 97.188rem;
    top: 7.688rem;
}

/* block5 */

.block5 {
    text-align: center;
    background-color: #fff;
    position: relative;
}

.block5__header {
    padding-top: 6rem;
    margin-bottom: 1.563rem;
}

.block5__header-text {
    font-size: 3rem;
    
}

.block5-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    
}

.block5-countainer2 {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}


.block5-countainer {
    width: 24.188rem;
    border: 1px solid #F0F8F6;
    z-index: 2;
    background-color: white;
}

.block5__heder1, .block5__heder3 {
    margin-bottom: 4.813rem;
}

.block5__heder2 {
    margin-bottom: 2.813rem;
}

.block5-countainer-header-text {
    font-size: 1.5rem;
}

.block5-countainer-text {
    text-align: start;
}

.block5-countainer-text-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    color: #696969;
    
}

.block5-img {
    margin-bottom: 2.625rem;
}

.block5-countainer-header {
    text-align: start;
    padding-left: 1.563rem;
}

.block5-countainer-text {
    margin-left: 1.563rem;
}

.block5__btn-container {
    margin-top: 2.813rem;
    margin-left: 15.938rem;
    margin-bottom: 2.5rem;
}

.block5__btn {
    width: 7rem;
    height: 1.875rem;
    background: #01A3A4;
    border-radius: 3.125rem;
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
}

.block5__item {
    position: absolute;
}

.b5i1 {
    left: 23.375rem;
    top: 32.75rem;
    z-index: 3;
}

.b5i2 {
    left: 49.563rem;
     top: 32.75rem;
    z-index: 3;
}

.b5i3 {
    left: 75.625rem;
    top: 32.75rem;
    z-index: 3;
}

.b5i4 {
    z-index: 1;
    top: 45%;
}

/* Block6 */
.block6 {
    background-color: #F0F8F6;
    position: relative;
}

.block6__header1, .block6__header2 {
    margin-left: 26.125rem;
}

.block6__header1 {
    margin-bottom: 1.3rem;
}

.block6__header2 {
    margin-bottom: 1.875rem;
}

.block6__header3, .block6__text, .mail-cointainer {
    margin-left: 21.875rem;
}

.block6__header3 {
    margin-bottom: 2.5rem;
}

.block6__text {
    width: 37.188rem;
    padding-bottom: 15.438rem;
}

.block6__header-text1 {
   font-family: 'Roboto',
   sans-serif;
   font-size: 0.875rem;
   color: #01A3A4;
   text-transform: uppercase;
}

.block6__header-text2 {
    font-size: 3rem;
}

.block6__header-text3, .block6__header-text3-2 {
    font-size: 6rem;
}

.block6__header-text3 {
    color: #212121;
}

.block6__header-text3-2 {
    color: #01A3A4;
}

.mail-cointainer {
    width: 37.188rem;
    height: 6rem;
    background-color: #FFFFFF;
    border-radius: 0px 3.125rem 3.125rem 0px;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
}

input::placeholder {
    color: #C4C4C4;
}

.mail {
    border: none;
    padding-left: 1.875rem;
    width: 16.125rem;
    z-index: 3;
}

.block6__btn {
    width: 17.5rem;
    height: 4.375rem;
    background: #01A3A4;
    border-radius: 3.125rem;
    color: #FFFFFF;
    font-size: 0.75rem;
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    margin: 0.938rem;
}

.block6__btn-text {
    font-size: 1.813rem;
}

.block6__text-text {
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    color: #C4C4C4;
    font-weight: 400;
}

.block6__img {
    position: absolute;
}

.b6-img-1 {
    top: 3.688rem;
    left: 22.188rem;
}

.b6-img-2 {
    top: 28.25rem;
    left: 100.813rem;
}

.b6-img-3 {
    top: 18.875rem;
    left: 100.25rem;
}

.b6-img-4 {
    top: 18rem;
    left: 91.75rem;
}

.b6-img-5 {
    top: 14.438rem;
    left: 58.438rem;
}

.b6-img-6 {
    top: 12.688rem;
    left: 101.5rem;
}

.b6-img-7 {
    top: 5.5rem;
    left: 85.813rem;
}

.b6-img-8 {
    top: 17.75rem;
    left: 102.188rem;
}

.b6-img-9 {
    top: 21.063rem;
    left: 13.938rem;
}

/* Block7 */
.block7 {
   background-color: #ffff;
   position: relative;
   height: 53.75rem;
}

.block7__header1, .block7__header2 {
    margin-left: 21.875rem;
}

.block7__header2 {
    margin-bottom: 3.125rem;
}

.block7__header1 {
    padding-top: 6rem;
    margin-bottom: 1.3rem;
}

.block7__header1-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #01A3A4;
}

.block7__header2-text {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
}

.block7__countainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7.375rem;
}

.block7__countainer-foto {
    position: relative;
}

.block7-f2, .block7-f3, .block7-f4, .block7-f5 {
position: absolute;
}

.block7-f2 {
    top: 3.188rem;
    left: 1.063rem;
}

.block7-f3 {
    top: 14.375rem;
    left: -5.125rem;
}

.block7-f4 {
    top: 2.813rem;
    left: 23.188rem;
    z-index: 4;
}

.block7-f5 {
    top: 11.813rem;
    left: 25.5rem;
}

.block7__review-author-raiting {
    display: flex;
    justify-content: space-between;
}

.raiting {
    display: flex;
    justify-content: center;
    position: relative;
}

.radio-input {
    visibility: hidden;
}

.star__img {
    position: absolute;
}

.star__img:hover {
    cursor: pointer;
}

.star__img-1 {
    top: 0px;
    left: 0.188rem;
}

.star__img-2 {
    top: 0px;
    left: 1.75rem;
}

.star__img-3 {
    top: 0px;
    left: 3.125rem;
}

.star__img-4 {
    top: 0px;
    left: 4.625rem;
}

.star__img-5 {
    top: 0px;
    left: 6.063rem;
}

.star-number {
    margin-left: 0.6rem;
}

.star-number-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 180%;
    color: #E5E5E5;
}

.block7__review-author {
    margin-bottom: 5.313rem;
}

.block7__review-author-text {
    font-size: 1.5rem;
}

.block7__overflow-block {
    overflow: overlay;
    height: 15.031rem;
}

.block7__overflow-block::-webkit-scrollbar {
    width: 0.313rem;
}

.block7__overflow-block::-webkit-scrollbar-track {
    background: #74E6CF;
    border-radius: 3.125rem;
    box-shadow: 0px 1px 0px 2px white inset;
}

.block7__overflow-block::-webkit-scrollbar-thumb {
    background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
    border-radius: 3.125rem;
}


.block7__review-text {
    width: 35.313rem;
}

.block7__review-b1 {
    margin-bottom: 1.3rem;
}

.block7__review-text1, .block7__review-text2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 180%;
    color: #696969;
}

.block7__btn-countainer {
    margin-top: 5.313rem;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.block7__btn-wrapper {
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
    z-index: 2;
}

.btn-wrapper-1 {
    
    top: -0.25rem;
    left: 1.969rem;
}

.btn-wrapper-2 {
    top: -0.25rem;
    left: -0.281rem;
}

.block7__btn {
    width: 1.375rem;
    height: 1.375rem;
    background: linear-gradient(297.26deg, #74E6CF 34.09%, #C0E594 96.73%);
    border-radius: 3.125rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border: none;
    z-index: 3;
    cursor: pointer;
}

.btn7-1 {
    margin-right: 0.875rem;
}

.block7__item-container {
    position: absolute;
}

.b7__img-1 {
    top: 6rem;
}

.b7__img-2 {
    left: 64.375rem;
    top: 19.813rem;
}

.b7__img-3 {
    left: 104.688rem;
    top: 6.688rem;
}

.b7__img-4 {
    left: 0.438rem;
    top: 9.813rem;
    z-index: 0;
}

.b7__img-5 {
    left: 1.688rem;
    top: 23.875rem;
    z-index: 0;
}

.b7__img-6 {
    left: 12.25rem;
    bottom: 1.125rem;
}

.b7__img-7 {
    left: 41rem;
    top: 17.938rem;
    z-index: 1;
}

.b7__img-8 {
    left: 104.875rem;
    top: 6.75rem;
}

.b7__img-9 {
    left: 36.688rem;
    top: 39.938rem;
}

.b7__img-10 {
    left: 6rem;
    top: 51.438rem;
}

.b7__img-11 {
    left: 10.813rem;
    top: 25.75rem;
}

.block7-f1 {
    z-index: 0;
    position: inherit;
}

/* Block8 */
.block8 {
    margin-top: 6rem;
    background-color: white;
    z-index: 22;
    display: flex;
    justify-content: space-evenly;
    height: 11.875rem;
    position: relative;
}

.block8__menu__list {
    display: flex;
    justify-content: center;

}

.block8__menu__item {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.125rem;
    letter-spacing: 0.05em;
}

.block8__menu__item {
    margin-left: 1.875rem;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
}

.footer__container {
    display: flex;
    justify-content: center;
    margin-right: 15.688rem;
}

.footer__text-text-1, .footer__text-text-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    color: #696969;
}

.footer__text-text-1 {
    line-height: 0.875rem;
}

.footer__text-text-2 {
    line-height: 150%
}

.footer__text-1 {
    margin-left: 21.063rem;
    /* margin-right: 63.813rem; */
}

.footer__text-2 {
    margin-right: 0.875rem;
}

.footer__img {
    /* margin-right: 14rem; */
}

/* .pop_up */
.pop_up {
    display: none;
}

.pop_up-wraper {
    width: 100%;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    background: #0000006c;
    /* opacity: 0.5; */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center
}

.pop_up.active {
    display: block;
}

.pop_up__countainer {
    display: flex;
    justify-content: center;
    width: 50.25rem;
    position: relative;
}

.pop_up-img {
    background-color: #F0F8F6;
    border: 1px solid #F0F8F6;
    border-radius: 1.25rem 0px 0px 1.25rem;
}

.pop_up-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0px 1.25rem 1.25rem 0px;
    text-align: center;
}

.pop_up-header-text-1,
.pop_up-header-text-2 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #212121;
}

.pop_up-header-text-2 {
    color: #01A3A4;
}

.pop_up-text-text {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.05em;
}

.pop_up-line-img {
    position: absolute;
    top: 6.688rem;
    right: 16.875rem;
}

/* media */


/* @media (min-width: 1680px) and (max-width: 1919px) { */
    @media (max-width: 1680px) {
    .wrapper {
            width: 1680px;
        }


}

 /* @media (min-width: 1440px) and (max-width: 1679px) { */
    @media (max-width: 1440px) {

     .wrapper {
         width: 1440px;
     }
 }

  /* @media (min-width: 1366px) and (max-width: 1439px)  */
  @media (max-width: 1366px) {
      .wrapper {
          width: 1366px;
      }
  }

   /* @media (min-width: 1280px) and (max-width: 1365px)  */
   @media (max-width: 1280px) {
       .wrapper {
           width: 1280px;
       }
   }

     /* @media (min-width: 1024px) and (max-width: 1279px) */
         @media (max-width: 1024px) {
       .wrapper {
           width: 1024px;
       }
   }

   /* tablet */
    /* @media (min-width: 768px) and (max-width: 1023px) */
        @media (max-width: 768px) {
        .wrapper {
            width: 768px;
       }
    }

    /* mobile */
    /* @media (min-width: 666px) and (max-width: 767px) {
         .wrapper {
             width: 666px;
        }
    } */

    /* @media (min-width: 320px) and (max-width: 665px) { */
       @media (max-width:666px) {
        .desktop {
            display: none;
        }
        
        body {
            margin-left: 0;
            margin-right: 0;
        }
       
        .wrapper {
            width: 20rem;
        }

        .main {
            height: 31.75rem;
        }

        .mobile__block {
            display: block;
            background-color: #EFEFEF;
            width: 20rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center
            }
       
        .mobile__block-text {
            font-family: 'Bebas Neue';
            font-style: normal;
            font-weight: 700;
            font-size: 0.813rem;
            line-height: 0.813rem;
            letter-spacing: 0.05em;
            color: #C4C4C4;     
         }       

        .menu {
            margin-left: 0;
            padding-left: 0;
        }

        .menu__list {
            display: none;
        }

        .mobile__countainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 17.938rem;
        }

        .mobile__logo {
            margin-left: 1rem;
        }

        .mobile__menu {
            margin-left: 10.938rem;
        }

        .mobile__menu:hover {
            cursor: pointer;
        }

        .menu__burger {
            width: 100%;
            height: 100%;
            display: none;
            /* background: #F0F8F6; */
            text-align: center;
            font-size: 1.25rem;
            line-height: 1.25rem;
            position: relative;
            z-index: 1000;
        }

        .menu__burger.active {
            display: block;
        }

        .menu__burger-list {
            width: 20rem;
            height: 100%;
            position: fixed;
            left: 0;
            background: #F0F8F6;
            padding-left: 0;
            top: 6.563rem;
        }

        .menu__burger-list > li {
            margin-top: 3.438rem;
            margin-bottom: 3.438rem;
        }

        .menu__burger-img {
            position: absolute;
        }

        .menu__burger-img-1 {
            top: 7.25rem;
            left: -9.625rem;
        }

          .menu__burger-img-2 {
            top: 11.937rem;
            left: -9.625rem;
        }

          .menu__burger-img-3 {
            top: 16.75rem;
            left: -9.625rem;
        }

          .menu__burger-img-4 {
            top: 21.312rem;
            left: -9.625rem;
        }

          .menu__burger-img-5 {
            top: 21.125rem;
            left: -5.125rem;
        }

          .menu__burger-img-6 {
            top: 20rem;
            left: -3.813rem;
        }

        .menu__burger-close {
            top: -0.8rem;
        }

        .mobile__block-2 {
            position: absolute;
            right: -2.05rem;
            top: 28.063rem;
        }

        #mobile__menu-burger.hidden {
            display: none;
        }

        /* main__box-container */

        .main__box-container {
            height: 28rem;
        }
           
        .main__heading {
            font-size: 2rem;
            line-height: 2rem;
            margin-top: 0;
        }

        .main__heading2, .main__heading3 {
            font-size: 1.625rem;
            line-height: 2.625rem;
            margin-left: 1.563rem;
        }

        .main__heading3 {
            position: relative;
            top: -2.625rem;
            left: 9.5rem;
        }

        .main__box-item {
            display: none;
        }

        .main__box-mobile {
            display: block;
            display: flex;
            justify-content: space-evenly;
            margin-top: -1.688rem;
        }

        .main__box-mobile-items {
            margin-top: -4.625rem;
        }

         .main__box-mobile-item:nth-child(2) {
            padding-right: 0.625rem;
        }

         .main__box-mobile-item:nth-child(3) {
             padding-right: 0.75rem;
        }

        .mobile, .block__img-mobile {
            display: block;
        }

        .main__box-rings {
            display: none;
        }

        .main__box-mobile-img {
        margin-top: -4.125rem;
        margin-bottom: -3.313rem;
        position: relative;
        z-index: 2;
        }

        .main__btn {
            width: 18rem;
            height: 3.75rem;
            font-size: 1.5rem;
            line-height: 1.5rem;
            font-style: normal;
        }

        .main__btn-container {
            margin-top: 0;
            margin-bottom: 0;
        }

        .mobile-items {
            position: relative;
        }

        .mobile-item {
            position: absolute;
        }

        .mobile-item-1 {
            top: -10.813rem;
            left: 2.5rem;
        }

         .mobile-item-2 {
            top: -10.375rem;
            left: 10.938rem;
            z-index: 1;
        }

         .mobile-item-3 {
            top: -12.813rem;
            left: 1.063rem;
        }

         .mobile-item-4 {
            top: -12.688rem;
            left: 8.938rem;
        }

         .mobile-item-5 {
            top: -13.75rem;
            left: 13.563rem;
        }

         .mobile-item-6 {
            top: -12.813rem;
            left: 16rem;
        }

        /* Block */
        .block__header {
            padding-top: 2rem;
        }

        .block {
            margin-bottom: 1.5rem;
        }


        .wrap-block__container {
            flex-direction: column;
            align-items: center;
        }

        .block__container:nth-child(-n+2) {
            margin-bottom: 4.063rem;
        }

        .block__header-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .block__header2-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.375rem;
        }

        .block__text-text {
            font-size: 0.875rem;
        }

        .block__ring, .block__img-desktop {
            display: none;
        }

        .block__img-2, .block__img-3 {
            margin-left: 2.188rem;
        }

        .mobile-block-decor {
            position: absolute;
        }

        .mobile-block-decor-1 {
            top: 25.688rem;
            left: 0.625rem;
        }

        .mobile-block-decor-2 {
            top: 25.688rem;
            right: 0.625rem;
        }

        .mobile-block-decor-3 {
            top: 49.25rem;
            left: 0.625rem;
        }

        .mobile-block-decor-4 {
            top: 49.25rem;
            right: 0.625rem;
        }

        .mobile-block-decor-5 {
            top: 25.938rem;
            left: 8.25rem;
        }

        .mobile-block-decor-6 {
            top: 49.5rem;
            left: 8.25rem;
        }  
        
        /* Block2 */
        .mobile__block2__container {
            display: flex;
            flex-direction: column-reverse;
        }


        .block2__header-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .block2__text-text {
            font-size: 0.875rem;
        }

        .block2__container {
            padding-top: 4.688rem;
            flex-direction: column;
        }

        .block2__block1 {
            margin: 0;
            order: 2;
            padding-bottom: 6.25rem;
            margin-left: 1.188rem;
        }

        .block2__block2 {
            margin: 0;
            position: relative;
        }

        .block2__header {
            margin: 0;
            margin-bottom: 1.188rem;
        }

        .block2__text {
            margin: 0 1.625rem 1.25rem;
            text-align: center;
        }

        .block2__block1-img {
            margin-right: 1rem;
        }

        .block2__btn {
            position: absolute;
            bottom: -21.563rem;
            left: 1rem;
        }

        .block2__image-mobile {
            position: relative;
        }

        .mobile-image-iteam-1 {
            top: -20.813rem;
            left: 7.688rem;
        }

        .mobile-image-iteam-2 {
            top: 12.25rem;
            right: 2.438rem;
            z-index: 2;
        }

        .mobile-image-iteam-3 {
             bottom: -17.375rem;
             right: 0px;
            z-index: 2;
        }

        /* Block3 */
        .block3 {
            margin-bottom: 0;
        }

        .block3__wraper {
            padding-top: 4.313rem;
            margin-left: 0;
            text-align: center;
        }


        .block3header1-text {
            font-size: 0.75rem;
            line-height: 0.875rem;
            letter-spacing: 0.1em;
            padding-left: 0;
        }

        .block3header2-text {
            font-size: 2rem;
            line-height: 2rem;
        }

        .block3header3-text {
            font-size: 1.625rem;
            line-height: 2.625rem;
        }

        .block3__header3 {
            padding-left: 0;
            padding-bottom: 6.625rem;
        }

        .block3__header1 {
            padding-left: 0;
            padding-bottom: 1.25rem;            
        }

        .block3__header2 {
            width: 20rem;
        }

        .block3__img-item2 {
            display: none;
        }
        
        .block3__img-item3 {
            top: 3.125rem;
            left: 8.375rem;
        }

        .block3__img-item4 {
            top: 15.5rem;
            left: 7.625rem;
        }

        /* Block4 */
        .block4 {
            background: #F0F8F6;
        }

        .block4__1 {
            padding-top: 3.125rem;
        }

        .block4__header1 {
            margin-left: 1rem;
        }


        .block4__header1-text {
            font-size: 0.75rem;
            line-height: 0.875rem;
            letter-spacing: 0.1em;
        }

        .block4__header2-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .block4__grid-wrapper-mobile {
            display: grid;
            grid-template-columns: 150px 150px;
            grid-gap: 0.94px ;
            padding-bottom: 0.884rem;
        }

        /* Block5 */
        .block5__header {
            padding-top: 0;
        }

        .block5-wrapper {
            justify-content: start;
            margin-left: 1rem;
        }

        .block5-countainer {
            width: 18rem;
            height: 24.125rem;
        }

        .block5__header-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .block5-countainer-header-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.375rem;           
            letter-spacing: 0.05em;
        }

        .b5i1 {
            left: 2.625rem;
            top: 18.75rem;
            z-index: 3;
        }

        .block5__heder1, .block5__heder3 {
            margin-bottom: 2.688rem;
        }

        .block5__btn-container {
            margin-top: 1.25rem;
            margin-left: 9.438rem; 
            margin-bottom: 3.438rem;                 
        }

        .block5__btn {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 0.875rem;
            text-transform: uppercase;
            background: #F0F8F6;
            border: 1px solid #F0F8F6;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
        }

        .block5__btn-text {
            color: #01A3A4;
        }

        .block5__btn-mobile {
            width: 1.375rem;
            height: 1.375rem;
            background: linear-gradient(297.26deg, #74E6CF 34.09%, #C0E594 96.73%);
            border-radius: 3.125rem;
            font-size: 1rem;
            display: flex;
            align-content: stretch;
            justify-content: center;
            align-items: center;
        }

        .block5-slider {
            display: flex;
            justify-content: center;
            margin-bottom: 1.875rem;
        }

        .block5-slider-item {
            width: 4.125rem;
            height: 0.125rem;
            background: #F0F8F6;
            border-radius: 0.625rem;
            margin-left: 0.5rem;
        }

        .block5-slider-item:hover {
            background: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
        }

        /* Slider */
        .block5-countainer2, .block5-countainer3, .b5i2, .b5i3 {
            display: none;
        }

        /* Block6 */
        .block6__header1, .block6__header2 {
            margin-left: 1rem;
            text-align: center;
        }

        .block6__header3,
        .block6__text,
        .mail-cointainer {
            margin-left: 1rem;
        }

        .block6__header1 {
            padding-top: 4.063rem;
        }

        .block6__header2 {
            margin-bottom: 14.188rem;
        }


        .block6__header-text1 {
            font-size: 0.75rem;
            line-height: 0.875rem;
        }

        .block6__header-text2 {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .block6__header-text3, .block6__header-text3-2 {
            font-size: 2rem;
            line-height: 2rem;
        }

        .mail-cointainer {
            flex-direction: column;
            width: 18rem;
            height: 3.75rem;
            border: 1px solid;
            border-image-source: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%);
            /* border-color: linear-gradient(141.39deg, #74E6CF 13.88%, #C0E594 106.32%); */
           border-image-slice: 1;
            border-radius: 0;
        }

        .mail {
            border: none;
            padding-left: 1rem;
             width: 16.813rem;
             height: 3.75rem;
             font-size: 0.875rem;
            line-height: 150%;
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
        }

        .block6__btn {
            margin: 1.25rem 0 0;
            width: 18rem;
            height: 3.75rem;
        }

        .block6__text {
            margin-top: 5.938rem;
            text-align: center;
            width: 18rem;
            padding-bottom: 1.875rem;
        }

        .block6__header3 {
            width: 18rem;
            text-align: center;
            margin-bottom: 0.625rem;
        }

        .b6-img-1 {
            top: 2.938rem;
            left: 9.188rem;
        }

        .b6-img-2 {
            top: 18.188rem;
            left: 14.813rem;
       }

        .b6-img-3 {
            top: 14.125rem;
            left: 15.188rem;
        }

        .b6-img-4 {
             top: 11.313rem;
            left: 12.313rem;
        }

        .b6-img-5 {
            top: 10.438rem;
            left: 0.625rem;
        }

        .b6-img-6 {
            top: 14.188rem;
            left: 18rem;
        }

        .b6-img-7 {
            top: 10.375rem;
            left: 14.188rem;
        }

        .b6-img-8 {
            top: 10.5rem;
            left: 9.5rem;
        }

        /* Block7 */
        .block7 {
            height: 28.75rem;
            margin-bottom: 8.375rem;
        }

         .block7__header1, .block7__header2 {
            margin: 0;
            text-align: center;
        }

        .block7__header1 {
            padding-top: 3.125rem;
            margin-bottom: 0.625rem;
        }

        .block7__header2 {
            margin-bottom: 2.125rem;
        }
       
        .block7__header1-text {
            font-size: 0.75rem;
            line-height: 0.875rem;
        }

        .block7__header2-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .block7__review-author-text {
            font-family: 'Advent Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.375rem;
            letter-spacing: 0.05em;
        }

        .block7__review-author-raiting {
            flex-direction: column;
            align-items: center;
            margin-bottom: 2.813rem;
        }

        .raiting {
            margin-left: 4rem;
        }

        .star-number {
            margin-top: -0.313rem;
        }

        .block7__review-author {
            margin-bottom: 0.461rem;
        }

        .block7__review-text {
            width: 18rem;
        }

        .block7__review-text1, .block7__review-text2 {
            font-size: 0.875rem;
            line-height: 150%;
        }

        .block7__btn-countainer {
            margin-top: 1.875rem;
            justify-content: center;
        }

        .btn-wrapper-1 {
            top: -0.25rem;
            left: 9.125rem;
        }

        .btn-wrapper-2 {
            top: -0.25rem;
            left: 6.875rem;
        }

        .block7-f5 {
            top: -0.188rem;
            left: 3.063rem;
            z-index: 1;
        }

        .b7__img-1 {
            top: 7.688rem;
            left: 2rem;
            z-index: 0;
        }

        .b7__img-4 {
            left: 6.75rem;
            top: 4.25rem;
        }

        .block7__review::after {
            content: "";
            background: #FFFFFF;
            filter: blur(15px);
            display: block;
            margin-top: -4rem;
            width: 18rem;
            height: 6.625rem;
        }

        /* Block8 */
        .block8 {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 29.875rem;
        }

      
        .block8__menu__list {
            flex-direction: column;
            align-items: center;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
        }

        .block8__menu {
            padding-left: 0;
            margin-left: -1.5rem;
            margin-top: 0;
            margin-bottom: 0;
        }

        .block8__menu__item {
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: 0.05em;
            margin-bottom: 1.25rem;
        }

        .block8__menu__list-mobile {
            display: flex;
            padding-left: 0;
        }

        .block8__menu__list-mobile > li {
            margin-left: 1.25rem;
        }

        .block8__menu__list-mobile>li:first-child {
            margin-left: 0;
        }

        .block8-logo-mobile {
            margin-bottom: 1.875rem;
        }

        /*footer*/
        .footer {
            justify-content: center;
        }

        .footer__text-1 {
            margin-left: 0;
        }

        .footer__text-2 {
            margin-right: 0.313rem;
        }       

        /* pop-up mobile */
        .pop_up-wraper {
           justify-content: normal;
        }
        .pop_up__countainer {
             display: flex;
            flex-direction: column;
             justify-content: center;
             width: 18rem;
             height: 22.063rem;
            position: relative;
            margin-left: 1rem;
        }        

        .pop_up-img {
            text-align: center;
            border-radius: 1.25rem 1.25rem 0px 0px;
        }

        .pop_up-content {
            border-radius: 0px 0px 1.25rem 1.25rem;
        }

        .pop_up-header {
            margin-top: 1.875rem;
            margin-bottom: 3.375rem;
        }

        .pop_up-img-mobile {
            width: 7.563rem;
            height: 9.375rem;
        }

        .pop_up-header-text-1,
        .pop_up-header-text-2 {
            font-family: 'Advent Pro', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
            color: #212121;
            /* text-transform: lowercase; */
        }

        .pop_up-header-text-2 {
            color: #01A3A4;
        }

        .pop_up-text {
            margin-bottom: 1.5rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        .pop_up-text-text {
            font-family: 'Advent Pro', sans-serif;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.375rem;
            text-align: center;
            letter-spacing: 0.05em;
            /* text-transform: lowercase; */
        }
        .pop_up-line-img {
            position: absolute;
            top: 12.688rem;
            right: 7rem;
        }


     }
